@use 'variables' as *;
.main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 100px 10px;

  .content {
    width: 50%;

    h1 {
      font-size: $font-size-h1;
      color: $color-primary;
    }

    p {
      font-size: $font-size-p;
    }
  }

  img {
    width: 40%;
  }
}

.features {
  background: #f3f3f3;

  .card-list {
    display: flex;
    justify-content: space-between;

    .card {
      background: $color-card-bg;
      padding: 20px;
      width: 27%;
      border-radius: 10px;
      box-shadow: 0 2px 10px $color-card-shadow;
    }
  }
}

.center-section {
  text-align: center;
  padding: 50px 10px;

  .card-list {
    display: flex;
    justify-content: space-between;

    .card {
      background: $color-card-bg;
      padding: 20px;
      width: 27%;
      border-radius: 10px;
      box-shadow: 0 2px 10px $color-card-shadow;

      h3 {
        margin-top: 0;
      }

      p {
        color: #666;
      }
    }
  }
}

.footer {
  text-align: center;
  padding: 20px;
  background: $color-footer;
  color: white;
}